[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapetube = "*"
youtube-transcript-api = "*"
requests = "*"
beautifulsoup4 = "*"
twine = "*"
pytest = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
